<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Arimo:ital,wght@0,400..700;1,400..700&family=Changa:wght@200..800&family=El+Messiri:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/config.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header-contener">
        <header>
            <div class="logo-head">
                <span onclick="showphoneModat()" style="display: none;" class="opne-phone-modal"><img src="\static\imges\icon\Style=Solid, Type=Rounded.svg" alt=""></span>
                {% if logo %}
                    <img src="{{ logo.logo.url }}" alt="Store Logo">
                {% else %}
                    <img  src="{% static 'imges\icon\Brand-logo.svg' %}" alt="">
                {% endif %}
            </div>
            <div class="searsh-head">
                <div class="searsh-section">
                    <input type="text" name="" id="searsh-head-inpur" placeholder="Find product">
                    <select  name="" id="select-header">
                        <option value="">All category</option>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.name|slice:":10"}}</option>
                        {% endfor%}
                    </select>
                    <button onclick="saarchfunstion(document.getElementById('searsh-head-inpur').value,document.getElementById('select-header').value)">Search</button>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="play-icon-list">
                    <a href="{% url 'profile' %}" class="order-icon-head order-icon-head22">
                        <img src="{% static 'imges/icon/delivery-box-02.svg' %}" alt="">
                        <span>Orders</span>
                    </a>
                    <a href="{% url 'profile' %}" class="order-icon-head order-icon-head22">
                        <img src="{% static 'imges/icon/favourite.svg' %}" alt="">
                        <span>Saved</span>
                    </a>
                    <a href="{% url 'cart_page' %}" class="order-icon-head">
                        <img src="{% static 'imges/icon/shopping-basket-01.svg' %}" alt="">
                        <span>My cart</span>
                    </a>
                    <a href="{% url 'profile' %}" class="order-icon-head">
                        <i class="bi bi-person"></i>
                        <span>profile</span>
                    </a>
                </div>
            {% else %}
                <div class="auth-bottons">
                    <a href="{% url 'login_page' %}">
                        <button>
                            <span>Sign in</span>
                            <span><i class="bi bi-person-circle"></i></span>
                        </button>
                    </a>
                    <a href="{% url 'cart_page' %}" class="order-icon-head phone-card-icone">
                        <img src="\static\imges\icon\Style=Stroke, Type=Rounded (1).svg" alt="">
                    </a>
                </div>
            {% endif %}
        </header>
    </div>
    <div class="header-contener-pages-links">
        <div class="header-contener-pages-links-main">
            <div class="head-2-pages-list">
                <div hover="show_category_name()" id="show-5-category-name" class="page-name All-category-name">
                    <span> <img src="\static\imges\icon\menu-01.svg" alt=""></span>
                    <span>All category</span>
                </div>
                <div class="show_category_name">
                        {% if categories_|length > 0 %}
                            {% for i in categories_ %}
                                <div class="categories_itms_smole">
                                    <span>{{ i.name|truncatechars:20 }} </span>
                                    <span><i class="fa-solid fa-angle-right"></i></span>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="no-categories">
                                <span><i class="fa-solid fa-folder-open"></i></span>
                                <span>No categories found</span>
                            </div>
                        {% endif %}


                    {% if more_all_categories|length > 0 %}
                    <div class="categories_itms_smole" id="Shwocategories_itms_smolemore">
                        <span>Show more</span>
                        <img src="/static/imges/icon/Style=Stroke, Type=Rounded (4).svg" alt="">
                    </div>
                    {% endif %}

                    <div class="shop-more-all-categories">
                        {% for more in more_all_categories %}
                            <div class="categories_itms_smole">
                                <span>{{ more.name|truncatechars:25 }}</span>
                                <span><i class="fa-solid fa-angle-right"></i></span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="page-name"><a href="{% url 'home' %}">Home</a></div>
                <div class="page-name"><a href="{% url 'Shop' %}">Shop Page</a></div>
                <div class="page-name"><a href="{% url 'Contact' %}">Contact</a> </div>
                <div class="page-name"><a href="{% url 'about' %}">About</a>  </div>
            </div>
            <div class="site-controul">
                <select name="" id="">
                    <option value="1">{{countries}}</option>
                </select>
                <select name="" id="">
                    <option value="1">{{currency}}</option>
                </select>
            </div>
        </div>
    </div>
    <div  onclick="handlphonetap()" id="phone-modal-grye" class="phone-modal-grye"></div>
    <div id="phone-modal" class="phone-modal">
        <div class="phone-head-section">
            <div class="phone-logo">
                <img src="\static\imges\icon\Brand-logo.svg" alt="">
            </div>
            <div id="phone-close-btn" class="phone-close-btn">
                <span onclick="handlphonetap()"><img src="\static\imges\icon\Style=Solid, Type=Rounded (1).svg" alt=""></span>
            </div>
        </div>
        <div class="phone-tap-serash-section">
            <div class="phonesearsh-section">
                <input type="text" name="" id="searsh-head-inpurfor-pahon" placeholder="Find product">
                <button onclick="saarchfunstionforphon()">Search</button>
            </div>
        </div>
        <div class="phone-taps">
            <div class="phone-tap-pages phone-tap-active" onclick="showSection('pages')">Pages</div>
            <div class="phone-tap-pages" onclick="showSection('categories')">All category</div>
        </div>

        <!-- Pages Section -->

        

        <div class="phone-tap-section phone-tap-pages-section active">
            <a  href="{% url 'home' %}" class="phone-tap-section-pages-name">
                <span>Home Page</span>
                <span><i class="fas fa-home"></i></span>
            </a>
            <a href="{% url 'Contact' %}"  class="phone-tap-section-pages-name page-active">
                <span>Contact Page</span>
                <span><i class="fas fa-envelope"></i></span>
            </a>
            <a href="{% url 'Shop' %}"  class="phone-tap-section-pages-name">
                <span>Shop Page</span>
                <span><i class="fas fa-store"></i></span>
            </a>
            <a href="{% url 'about' %}"  class="phone-tap-section-pages-name">
                <span>About Page</span>
                <span><i class="fas fa-info-circle"></i></span>
            </a>
            <a href="{% url 'profile' %}"  class="phone-tap-section-pages-name">
                <span>Profile</span>
                <span><i class="fas fa-user"></i></span>
            </a>
            <a class="phone-tap-section-pages-name Logout">
                <span>Logout</span>
                <span><i class="fas fa-sign-out-alt"></i></span>
            </a>
        </div>

            <!-- Categories Section -->
            <div class="phone-tap-section phone-tap-all-category-section">
                {% if categories|length > 0 %}
                    {% for category in categories %}
                        <div class="phone-tap-section-pages-name phone-tap-section-pages-name-category">
                            <span>{{ category.name }}</span>
                            <span>
                                {% if category.image %}
                                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                                {% else %}
                                    <img src="\static\imges\istockphoto-1147544807-612x612.jpg" alt="No image">
                                {% endif %}
                            </span>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-categories-phone">
                        <span><i class="fa-solid fa-folder-open"></i></span>
                        <span>No categories found</span>
                    </div>
                {% endif %}
            </div>

    </div>
    
    {% block content %}
    {% endblock %}
    <div class="footer-content">
        <footer>
        <div class="footer-section-one">
            <div class="fout-pages">
                <h1>
                    {% if logo %}
                    <img src="{{ logo.logo.url }}" alt="Store Logo">
                    {% else %}
                        <img  src="{% static 'imges\icon\Brand-logo.svg' %}" alt="">
                    {% endif %}
                </h1>
                <p> Contact us Contact us Contact us vv Contact us Contact us v</p>
                <h3>Follow us</h3>
                <div class="Follow-us-section">
                    <a href="{{ logo.youtube|default:'#' }}"><img src="{% static 'imges/icon/Icons-app.svg' %}" alt=""></a>
                    <a href="{{ logo.facebook|default:'#' }}"><img src="{% static 'imges/icon/Icons-app (3).svg' %}" alt=""></a>
                    <a href="{{ logo.instagram|default:'#' }}"><img src="{% static 'imges/icon/Icons-app (2).svg' %}" alt=""></a>
                    <a href="{{ logo.whatsapp|default:'#' }}"><img src="{% static 'imges/icon/Icons-app (1).svg' %}" alt=""></a>
                </div>

            </div>
            <div class="fout-pages">
                <h1>Help</h1>
                <a href="">Contact us</a>
                <a href="">Live chat</a>
                <a href="">Refund</a>
                <a href="">Track order</a>
            </div>
            <div class="fout-pages">
                <h1>Language</h1>
                <a href="">Español</a>
                <a href="">Português</a>
                <a href="">Deutsch</a>
                <a href="">日本語</a>
            </div>
            <div class="fout-pages">
                <h1>Language</h1>
                <a href="">Safe purchase</a>
                <a href="">Refund</a>
                <a href="">Logistics service</a>
                <a href="">Trade Resources</a>
            </div>
            <div class="fout-pages">
                <h1>Language</h1>
                <a href="">Safe purchase</a>
                <a href="">Refund</a>
                <a href="">Logistics service</a>
                <a href="">Trade Resources</a>
            </div>
        </div>
        <div class="hr"></div>
        <!-- <div class="footer-section-tow">
            <div class="google-play-card">
                <img src="\static\imges\icon\Group.svg" alt="">
                <img src="\static\imges\icon\Group (1).svg" alt="">
            </div>
            <div class="Follow-us-section">
                <h2>Follow us</h2>
                <a href=""><img src="\static\imges\icon\Icons-app.svg" alt=""></a>
                <a href=""><img src="\static\imges\icon\Icons-app (3).svg" alt=""></a>
                <a href=""><img src="\static\imges\icon\Icons-app (2).svg" alt=""></a>
                <a href=""><img src="\static\imges\icon\Icons-app (1).svg" alt=""></a>
            </div>
        </div> -->
        <div class="footer-section-bottom">
            <div class="footer-bottom-text">
                Copyright © 1995-2025 Company Inc. All Rights Reserved
            </div>
            <div class="footer-bottom-links">
                <a href="">Terms of service</a>
                <a href="">Privacy policy</a>
            </div>
        </div>
    </footer>
    </div>
    <script>
        const mainDomain = "{{ main_domin|escapejs }}";
        const currencySymbol = "{{ currency|escapejs }}";
    </script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>