{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<section class="heor-section" >
    <div class="hero-image">
        <img src="\static\imges\icon\domino-studio-164_6wVEHfI-unsplash.jpg.jpg" alt="">
        <div class="hero-image-gryd">
            <h2>New Trending</h2>
            <h2>Summer Fashion</h2>
            <p>Hot summer discounts ending soon</p>
            <button>
                <span>Get Deals Now</span>
                <span><img src="\static\imges\icon\icon (1).svg" alt=""></span>
            </button>
        </div>
        <div class="go-next-image-left-bnt">
            <img src="\static\imges\icon\icon.svg" alt="">
        </div>
        <div class="go-next-image-right-bnt">
            <img src="\static\imges\icon\icon (1).svg" alt="">
        </div>
    </div>
</section>
<!-- Deals_and_offers -->
<section class="Deals_and_offers">
    <div class="product-offers-card-time">
        <div class="Deals_and_offers-title">
            Deals and offers
        </div>
        <div class="Deals_and_offers-descrption">
            Hygiene equipments
        </div>
        <div class="Deals_and_offers-time-card">
            <div class="time-card">
                <span>04</span>
                <span>Days</span>
            </div>
            <div class="time-card">
                <span>04</span>
                <span>Hour</span>
            </div>
            <div class="time-card">
                <span>04</span>
                <span>Min</span>
            </div>
            <div class="time-card">
                <span>04</span>
                <span>Sec</span>
            </div>
        </div>
    </div>
    <div class="product-offers-card">
        <div class="product-offers-card-image">
            <img src="\static\imges\icon\img.svg" alt="">
        </div>
        <div class="product-offers-card-name">
            The Product name 
        </div>
        <div class="product-offers-card-descount">
            -25%
        </div>
    </div>
    <div class="product-offers-card">
        <div class="product-offers-card-image">
            <img src="\static\imges\icon\img.svg" alt="">
        </div>
        <div class="product-offers-card-name">
            The Product name 
        </div>
        <div class="product-offers-card-descount">
            -25%
        </div>
    </div>
    <div class="product-offers-card">
        <div class="product-offers-card-image">
            <img src="\static\imges\icon\img.svg" alt="">
        </div>
        <div class="product-offers-card-name">
            The Product name 
        </div>
        <div class="product-offers-card-descount">
            -25%
        </div>
    </div>
    <div class="product-offers-card">
        <div class="product-offers-card-image">
            <img src="\static\imges\icon\img.svg" alt="">
        </div>
        <div class="product-offers-card-name">
            The Product name 
        </div>
        <div class="product-offers-card-descount">
            -25%
        </div>
    </div>
    <div class="product-offers-card">
        <div class="product-offers-card-image">
            <img src="\static\imges\icon\img.svg" alt="">
        </div>
        <div class="product-offers-card-name">
            The Product name 
        </div>
        <div class="product-offers-card-descount">
            -25%
        </div>
    </div>
</section>
<!-- Catigory-section -->
<section class="Catigory-section">
    <div class="main-Catigory-section">
        <img src="\static\imges\icon\bg.svg" alt="">
        <div class="main-Catigory-section-countener">
            <h4 class="main-Catigory-section-countener-title">Home and outdoor products</h4>
            <button>
                <span>Explore all</span>
                <span><img src="\static\imges\icon\icon (1).svg" alt=""></span>
            </button>
        </div>
    </div>
    <div class="main-Catigory-section-products-grid">
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Catigory-section -->
<section class="Catigory-section">
    <div class="main-Catigory-section">
        <img src="\static\imges\icon\bg.svg" alt="">
        <div class="main-Catigory-section-countener">
            <h4 class="main-Catigory-section-countener-title">Home and outdoor products</h4>
            <button>
                <span>Explore all</span>
                <span><img src="\static\imges\icon\icon (1).svg" alt=""></span>
            </button>
        </div>
    </div>
    <div class="main-Catigory-section-products-grid">
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
        <div class="main-Catigory-section-products-items">
            <div class="products-detailes-buy-catugory">
                <h4>The Product name </h4>
                <p>From USD 195</p>
            </div>
            <div class="products-detailes-buy-catugory-images">
                <img src="\static\imges\icon\img-prodycts.svg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- products-section -->
 <section class="products-section">
    <h1>Recommended items</h1>
    <div class="products-grid">
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
        <div class="product-card">
            <div class="products-img">
                <img src="\static\imges\icon\img.svg" alt="">
            </div>
            <div class="products-prices">
                <span class="main-price">$1128.00</span>
                <span class="old-price">$99.50</span>
            </div>
            <div class="products-range">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <br>
                <span>4.5</span>
            </div>
            <div class="products-name">
                Samsung Galaxy Note 4 SM-N910C 32GB
            </div>
        </div>
    </div>
 </section>
<section class="home-contact-section">
    <div class="home-contact-section-div">
        <img src="\static\imges\icon\image 103.svg" alt="">
        <div class="home-contact-section-img-grig">
            <div class="contact-title-home">
                <h2>
                    An easy way to send requests to all suppliers
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
            </div>
            <form action="">
                <label for="">Send quote to suppliers</label>
                <input type="text" name="" id="" placeholder="What item you need?">
                <input type="text" placeholder="Type more details">
                <div class="form-group">
                    <input type="text" placeholder="Qty">
                    <select name="" id="">
                        <option value="">helo world</option>
                    </select>
                </div>
                <button>
                    <span>Send inquiry</span>
                    <span><img src="\static\imges\icon\elements (2).svg" alt=""></span>
                </button>
            </form>
        </div>
    </div>
    
</section>
{% endblock %}