{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/product-details.css' %}">

<section  class="container">
    <div class="products-gallery">
        <!-- Main image swiper -->
        <div class="swiper main-swiper">
            <div class="swiper-wrapper" id="main-image-wrapper">
                <!-- صور رئيسية هنا -->
            </div>
        </div>

        <!-- Thumbnails swiper -->
        <div class="swiper thumbs-swiper">
            <div class="swiper-wrapper" id="thumbs-wrapper">
                <!-- صور مصغرة هنا -->
            </div>
        </div>
    </div>
    <!-- Swiper CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <div class="product-details">
        <div id="products-name-section" class="products-name-section">
            products-name-section products-name-sectionv products-name-section
        </div>
        <div class="product-prices-section">
            <span id="products-main-price" class="products-main-price">100$</span>
            <span id="products-old-price" class="products-old-price">100$</span>
            <span  class="products-descounte">
                <span>-</span>
                <span id="products-descounte-count">10</span>
                <span class="poursinte">%</span>
            </span>
        </div>
        <div class="product-range-section">
            <div class="range-stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill bi-star-fill2"></i>
                <i class="bi bi-star-fill bi-star-fill2"></i>
                <!-- <i class="bi bi-star-half"></i> -->
            </div>
            <span class="range-count">4.5</span>
            <span class="orsers-count">
                <span><img  src="\static\imges\icon\shopping-basket-01.svg" alt=""></span>
                <span>10 </span>
                <span>orders </span>
            </span>
        </div>
        <div class="product-description">
            <div class="product-description-title">
             : description
            </div>
            <div id="product-description-main" class="product-description-main">
            Discover our unique Moroccan T-Shirt, made with 100% organic cotton and crafted with passion. This design blends traditional Amazigh symbols with a modern touch, delivering both style and cultural heritage. Perfect for everyday wear or special occasions, this shirt is soft, durable, and a true statement of identity.
            </div>
        </div>
        <!-- =================== color =================== -->
        <div id="product-color-section-sectopn" class="product-color-section">
            <div class="option-section-title">
                <h1>: Select Color</h1>
            </div>
            <div id="main-color-section-box" class="mina-option-section-32">
                <input type="checkbox" id="color-red">
                <label for="color-red" class="color-label" style="background-color: red;"></label>

                <input type="checkbox" id="color-blue">
                <label for="color-blue" class="color-label" style="background-color: blue;"></label>
            </div>
        </div>
        <!-- =================== size =================== -->
        <div id="product-size-section-sectopn" class="product-size-section">
            <div class="option-section-title">
                <h1>: Select Size</h1>
            </div>
            <div id="main-size-section-box" class="mina-option-section-32">
                <input type="checkbox" id="size-s">
                <label for="size-s" class="size-label">S</label>

                <input type="checkbox" id="size-m">
                <label for="size-m" class="size-label">M</label>
            </div>
        </div>
        <!-- =================== option =================== -->
        <div id="product-option-section-sectopn" class="product-option-section">
            <div class="option-section-title">
                <h1>: Select Option</h1>
            </div>
            <div id="main-option-section-box" class="mina-option-section-32">
                <input type="checkbox" id="option-1">
                <label for="option-1" class="option-label">Option 1</label>

                <input type="checkbox" id="option-2">
                <label for="option-2" class="option-label">Option 2</label>
            </div>
        </div>
        <div class="product-quantity-section">
            <label class="option-section-title" for="quantity"> : Quantity</label>
            <div class="quantity-controls">
                <button onclick="decrementQuantity()" class="qty-btn minus">−</button>
                <input type="number" id="quantity" name="quantity" value="1" min="1" class="no-arrows">
                <button onclick="incrementQuantity()" class="qty-btn plus">+</button>
            </div>
        </div>
        <div class="product-buttons-section">
                <a href="#order-section" class="order-now-btn">
                    <span>Order Now</span>
                    <span><i class="fa-solid fa-bag-shopping"></i></span>
                </a>
            
            <button class="add-to-cart-btn">
                <span>Add To Cart</span>
                <span><img src="\static\imges\icon\Style=Stroke, Type=Rounded (1).svg" alt=""></span>
            </button>
            <button class="add-Saved-btn">
                <span><img src="\static\imges\icon\add-Saved-btn.svg" alt=""></span>
            </button>
        </div>
    </div>
</section>
<div class="product-description-and-review">
    <div class="add-review-card">
        <div class="review-section-title">
            <div class="">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
            <span class="out-of">
                5.4 out of 5
            </span>
        </div>
        <div class="review-section-title-2">
            542 global ratinge
        </div>
        <div class="review-statistic">
            <div class="review-section-title-count">
                <div class="review-info">
                    <span class="review-info-number">1</span>
                    <span  class="review-info-star-logo"><i class="bi bi-star-fill bi-star-fill2"></i></span>
                    <span class="review-info-main-range">
                        <span  style="width: 80%;" class="review-info-dev-range"></span>
                    </span>
                </div>
                <div class="review-info">
                    <span class="review-info-number">2</span>
                    <span  class="review-info-star-logo"><i class="bi bi-star-fill bi-star-fill2"></i></span>
                    <span class="review-info-main-range">
                        <span style="width: 40%;" class="review-info-dev-range"></span>
                    </span>
                </div>
                <div class="review-info">
                    <span class="review-info-number">3</span>
                    <span  class="review-info-star-logo"><i class="bi bi-star-fill bi-star-fill2"></i></span>
                    <span class="review-info-main-range">
                        <span style="width: 60%;" class="review-info-dev-range"></span>
                    </span>
                </div>
                <div class="review-info">
                    <span class="review-info-number">4</span>
                    <span  class="review-info-star-logo"><i class="bi bi-star-fill bi-star-fill2"></i></span>
                    <span class="review-info-main-range">
                        <span  style="width: 10%;" class="review-info-dev-range"></span>
                    </span>
                </div>
                <div class="review-info">
                    <span class="review-info-number">5</span>
                    <span  class="review-info-star-logo"><i class="bi bi-star-fill bi-star-fill2"></i></span>
                    <span class="review-info-main-range">
                        <span  style="width: 38%;" class="review-info-dev-range"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="add-review-btn">
            <button>
                <span>Write a review</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" 
                        width="17" height="17" viewBox="0 0 24 24" 
                        fill="none" stroke="currentColor" stroke-width="2" 
                        stroke-linecap="round" stroke-linejoin="round" 
                        class="feather feather-edit">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-7"/>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="all-desctiption-info">
        <h1>Desctiption information</h1>
        <p id="desctiption_1">
            Crafted from premium full-grain leather, this backpack is perfect for daily commutes and travel. 
            It features a spacious main compartment, a padded laptop sleeve, and multiple zip pockets for easy organization. 
            Built to last and designed for style, this is your new go-to everyday carry.
        </p>
        <br>
        <p id="desctiption_2">
            Crafted from premium full-grain leather, this backpack is perfect for daily commutes and travel. 
            It features a spacious main compartment, a padded laptop sleeve, and multiple zip pockets for easy organization. 
            Built to last and designed for style, this is your new go-to everyday carry.
        </p>
        <br>
        <p id="desctiption_3">
            Crafted from premium full-grain leather, this backpack is perfect for daily commutes and travel. 
            It features a spacious main compartment, a padded laptop sleeve, and multiple zip pockets for easy organization. 
            Built to last and designed for style, this is your new go-to everyday carry.
        </p>
    </div>
</div>
<div id="order-section" class="order-section">
    <div class="order-image">
        <img src="\static\imges\icon\pexels-asphotograpy-230544.jpg" alt="Product image">
    </div>
    <div class="order-form">
        <div class="order-title">
            <h2>Customer information</h2>
        </div>
        <div class="create-order-data">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" placeholder="Enter Your First name" name="firstName" required>
                <div class="error-message" id="error-firstName"></div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" placeholder="Enter Your Last Name" name="lastName" required>
                <div class="error-message" id="error-lastName"></div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" placeholder="Enter Your Address" name="address" required>
                <div class="error-message" id="error-address"></div>
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone" required>
                <div class="error-message" id="error-phone"></div>
            </div>
            <button onclick="ConfirmOrder()" type="button" class="submit-button">
                <i class="fas fa-check-circle"></i> Confirm Order
                <span id="Orderloader"></span>
            </button>

        </div>
    </div>
</div>

 <section class="products-section-2">
    <h1>Similar products</h1>
    <br>
    <div class="products-grid-2">
        {% for card in  similar_products %}
            <div class="product-card">
                <div onclick="viewProductdetailes('{{ card.id }}')" class="products-img">
                    {% if card.image_1 %}
                        <img src="{{ card.image_1.url }}" alt="{{ card.name }}">
                    {% else %}
                        <img src="\static\imges\istockphoto-1147544807-612x612.jpg" alt="Default Image">
                    {% endif %}
                </div>
                <div class="products-name">
                    {{card.name}}
                </div>

                <div class="products-range">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <br>
                    <span>4.5</span>
                    {% if card.image %}
                        <span class="order-count">({{ card.orders_count }} Orders)</span>
                    {% else %}
                        <span class="order-count"></span>
                    {% endif %}
                </div>
                    <div class="products-prices">
                    <span class="main-price">{{ card.price }}{{currency}}</span>
                </div>
                <div class="product-add-to-cart-btn">
                    <button onclick="addToCart('{{ card.id }}')" class="add-to-cart-btn">
                        <span>Add To Cart</span>
                        <img src="\static\imges\icon\Style=Stroke, Type=Rounded (1).svg" alt="">
                    </button>
                    <main onclick="addToWishlist('{{ card.id }}')"><img src="\static\imges\icon\add-Saved-btn.svg" alt=""></main>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    const mainDomain = "{{ main_domin|escapejs }}";
    const currencySymbol = "{{ currency|escapejs }}";
</script>
<script src="{% static 'js/product-details.js' %}"></script>
<div class="spinre">
    <div class="loader"></div>
</div>

{% endblock %}


